<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>D&D Wiki</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{resources/style.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body th:style="|background-image: url('@{resources/page-background.jpg}'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed; height: 100vh; width: 100vw;|">
<div class="container mt-4">
    <div class="row justify-content-center">
        <h1 class="text-center">Adventures</h1>
        <div th:switch="${not #lists.isEmpty(adventures)}">
            <div th:case="${true}" class="card-deck">
                <div class="col-lg-4 col-md-6 mb-4" th:each="adventure : ${adventures}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${adventure.images[0]}" alt="Adventure Image"/>
                        <div class="card-body d-flex flex-column">
                            <div class="card-title-container mb-2 flex-grow-1">
                                <h5 class="card-title" th:text="${adventure.title}">Adventure Title</h5>
                            </div>
                            <p class="card-text mt-auto" th:text="${adventure.description}">Adventure Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:case="${false}">
                <h1 class="text-center">No Adventures</h1>
            </div>
        </div>
    </div>
</div>

</body>
</html>