@font-face {
    font-family: 'augustaregular';
    src: url('augusta-webfont.woff2') format('woff2'),
         url('augusta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: "augustaregular";
    color: red;
}

.full-page-bg {
    background-size: cover; /* Ensure the background image covers the entire page */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background image in place while scrolling */
    height: 100vh; /* Set the height to the full viewport height */
    width: 100vw; /* Set the width to the full viewport width */
}